*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: gray;
}

.logo>a>img{
    padding-top: 4px;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.navcontainer{
    list-style: none;
    display: flex;
    min-height: 8vh;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
}
.navcontainer>li>a{
    text-decoration: none;
    color: white;
}
.navcontainer>li>a:hover{
    color: red;
}
.navcontainer>li{
    padding: 0px 35px;
}
table, th, td{
    border: 2px solid black;
}
.tablecontainer{
    background-color: rgba(0, 0, 0, 0.225);
    height: 100%;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: 0px auto;
}
th{
    height: 70px;
    text-align: center;
    font-size: 1.5rem;
}
td{
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
}